<launch>

    <arg name="markerSize"      default="0.13"/>    <!-- in m -->
    <arg name="side"             default="left"/>
    <arg name="ref_frame"       default=""/>  <!-- leave empty and the pose will be published wrt param parent_name -->


    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
        <remap from="/camera_info" to="/camera/rgb/camera_info" />
		<remap from="/image" to="/camera/rgb/image_color" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value="camera_rgb_optical_frame"/>
    </node>
    <node pkg="robomuse_drivers" type="marker_frame_generator.py" name="marker_frame_generator"/>
    <node pkg="robomuse_drivers" type="marker_file_saver.py" name="marker_file_saver"/>
</launch>

