<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="false" />

  <!--Start the Arduino controller -->
  <include file="$(find robomuse_drivers)/launch/robomuse_depth_reg.launch"/>

  <include file="$(find robomuse_drivers)/launch/nav_rtab.launch"/>  

  <!-- The move_base node -->
   <rosparam file="$(find robomuse_drivers)/param/nav_test_params.yaml" command="load"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find robomuse_drivers)/maps/lhc_IIT_central_Map2.yaml"/>


    <arg name="camera" default="camera"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find robomuse_drivers)/param/costmap_common.yaml" ns="global_costmap" />
    <rosparam file="$(find robomuse_drivers)/param/costmap_common.yaml" ns="local_costmap" />
    <rosparam file="$(find robomuse_drivers)/param/local_costmap.yaml" />
    <rosparam file="$(find robomuse_drivers)/param/global_costmap.yaml" />
    <rosparam file="$(find robomuse_drivers)/param/base_local_planner.yaml" />
    <param name="controller_frequency" value="10.0" />
    <remap from="openni_points" to="/rtabmap/cloud_obstacles"/>
    <remap from="/rtabmap/grid_map" to="map"/>
    <remap from="cmd_vel" to="/robomuse/cmd_vel"/>
  </node>


  <!--include file="$(find robomuse_drivers)/launch/robomuse_amcl.launch"/-->

  <node pkg="robomuse_drivers" type="nav_test_robomuse_iit_central_actual.py" name="nav_test" output="screen">
    <param name="rest_time" value="5" />
    <param name="fake_test" value="false" />
  </node>
		
</launch>
