<launch>
<include file="$(find robomuse_drivers)/launch/robomuse_depth_reg.launch"/>

<include file="$(find robomuse_drivers)/launch/nav_rtab.launch"/>

<node name= "map_server" pkg = "map_server" type="map_server" args="$(find robomuse_drivers)/src/forexpt.yaml"/>

<arg name="camera" default="camera"/>
<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find robomuse_drivers)/param/costmap_common.yaml" ns="global_costmap" />
    <rosparam file="$(find robomuse_drivers)/param/costmap_common.yaml" ns="local_costmap" />
    <rosparam file="$(find robomuse_drivers)/param/local_costmap.yaml" />
    <rosparam file="$(find robomuse_drivers)/param/global_costmap.yaml" />
    <rosparam file="$(find robomuse_drivers)/param/base_local_planner.yaml" />
    <remap from="openni_points" to="/rtabmap/cloud_obstacles"/>
    <remap from="/rtabmap/grid_map" to="map"/>
    <remap from="cmd_vel" to="/robomuse/cmd_vel"/>
  </node>


  <!--include file="$(find robomuse_drivers)/launch/robomuse_amcl.launch"/-->

<node pkg="robomuse_drivers" name="waypoint" type="waypointtest.cpp"/>
		
</launch>
