<?xml version="1.0"?>
<launch>
	<arg name="camera" default="camera"/>
	<include file = "$(find robomuse_drivers)/launch/bringup.launch"/>
	<include file = "$(find openni_launch)/launch/openni.launch">
	    <arg name="depth_registration" value="true"/>
	    <arg name="camera" value="$(arg camera)"/>
	</include>

	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="/image" to="/$(arg camera)/depth_registered/image_raw" />
		<remap from="camera_info" to="/$(arg camera)/depth_registered/camera_info"/>
	</node> >

	<!--node name="camera_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_laser_link camera_link 100"/-->
</launch>
