<?xml version="1.0"?>
<launch>
	<!-- Some general parameters -->
	<rosparam file="$(find robomuse_drivers)/param/ros.yaml"/>

	<!-- Start the Operator to control the simulated robot -->
	<node name="Operator" pkg="nav2d_operator" type="operator" >
		<rosparam file="$(find robomuse_drivers)/param/operator.yaml"/>
		<rosparam file="$(find robomuse_drivers)/param/costmap.yaml" ns="local_map" />
		<remap from="/map" to="/rtabmap/grid_map" />
		<remap from="/cmd_vel" to="/robomuse/cmd_vel" />
	</node>

</launch>
